<html>
  <head>

    <title>
      Twitter Stream
    </title>
  </head>

  <body>


    <p> <b> Twitter Stream </b> </p> <br/> <br/>
    <form method="POST" action="/locationstream/add">
      <label> Name </label><br/>
      <input type="text" name="Name"> <br/> <br/>
      <label> Enter Message </label> <br/>
      <input type="text" name="message"> <br/> <br/>
      <input type="submit" value="Submit">

    </form>
  </body>

</html>
