<html>
  <head>

    <title>
      Location Stream
    </title>
  </head>

  <body>
    <label> Name </label>
    <p> <%= name%> </p>

    <br/> <br/>

    <label> Location: </label>

    <p> <%=hashtag%> </p>

  </body>

</html>
